/*A)
Crie uma página com imagem de fundo e textos. Tenha apenas cuidado com o contraste.

Requisitos:

O CSS precisa ser externo;
As imagens precisam estar na pasta da atividade;
Ter uma imagem clara, quadrada e pequena de fundo na tag body; 
A imagem precisa se repetir horizontal e verticalmente
Ter uma div com classe com 700px de largura e 500px de altura; 
Ter margin de 30px e padding de 50px nessa div;
Ter uma imagem de fundo escura nessa div, com background size usando cover;
Ter um título de segundo nível com l classe e com cor de fonte e tamanho de fonte alterados;
Ter um parágrafo com classe e com cor de fonte e tamanho de fonte alterados;
Os textos vão dentro da div criada anteriormente e precisam ser de cores claras;
Ter uma div abaixo da anterior, com o mesmo tamanho e tipos de texto internamente, mas com imagem de fundo diferentes;
Você deve usar a mesma classe quando houver mais de um título
Você deve usar a mesma classe quando houver mais de um parágrafo;
Coloque no arquivo atividade-5-a.html. */ 

body {
    background-image: url("foto-1.jpg")
}

.bloco {
     width: 700px;
     height: 500px;
     margin: 30px;
     padding: 50px;
     background-image: url("foto1a.jpg");
     background-size: cover;
     background-repeat: repeat;
}

.titulo {
    color: #898dff;
    font-size:30px ;
}

.paragrafo {
    color: #898dff;
    font-size:20px;
}

.sub-bloco {
    width: 700px;
    height: 500px;
    margin: 30px;
    padding: 50px;
    background-image: url("foto2a.jpg");
    background-position: contain;
    background-size: cover;
}