body {
    background-color: #C0C0C0;
}


.bloco {
    background-color: #E0FFFF;
    width: 50%;
    height: 500px;
}

.sub-bloco {
    background-color: #B0E0E6;
    width: 25%;
    height: 200px;
}

.titulo_um {
    color: #4169E1 ;
    font-size: 30px;
}

.paragrafo_um {
    color: #4169E1;
    font-size: 20px;
}

.titulo_dois {
    color: #6495ED;
    font-size: 20px;
}

.paragrafo_dois {
    color: #6495ED;
    font-size: 20px;

}